{% extends "posts/base.html" %}
{% load static %}

{% block content %}
<style>
    article.post_card {
        margin-top: 200px;
        padding: 20px;
        border-radius: 50px;
    }

    div.single_post_header>h1 {
        margin-bottom: 20px;
        padding-top: 20px;
    }

    div.s-content__entry-content>p,
    div.s-content__entry-content {
        font-size: 14px !important;
        text-align: center !important;
    }

    @media screen and (max-width: 786px) {
        article.post_card {
            margin-top: 200px !important;
        }
    }
</style>
<section class="single_post">
    <div class="container">
        <article class="card post_card">

            <div class="single_post_header">
                <h1 class="s-content__title s-content__title--post">{{ post.title }}</h1>
            </div> <!-- end s-content__entry-header -->

            <div class="s-content__primary">

                <div class="s-content__entry-content">

                    {{ post.content|safe }}

                </div> <!-- end s-entry__entry-content -->

                <div class="s-content__entry-meta">

                    <div class="entry-author meta-blk">
                        <div class="byline">
                            <span class="bytext">Posted By</span>
                            <a href="#0">{{ post.author.username }}</a>
                        </div>
                    </div>

                    <div class="meta-bottom">

                        <div class="entry-cat-links meta-blk">

                            <span>On</span>
                            {{ post.date_created }}
                        </div>

                    </div>

                </div> <!-- s-content__entry-meta -->

            </div> <!-- end s-content__primary -->
        </article>
    </div>
</section>
{% endblock content %}