{% extends "auth/base.html" %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block auth_form %}
<h2 class="register__innetext">Login</h2>

<form method="POST" id="login__form">
    {% csrf_token %}

    <!-- Email Input -->
    <div class="form-outline mb-4">
        <input type="email" id="email" name="email_address" class="form-control" />
        <label class="form-label" for="email_address">Email address</label>
    </div>

    <!-- Password Input -->
    <div class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
</form>
{% endblock auth_form %}