{% extends "auth/base.html" %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block auth_form %}
<h2 class="register__innertext">Register</h2>

{% if form.errors %}
<h6 class="alert alert-warning register__innertext">
    {{ form.errors }}
</h6>
{% endif %}

<form method="POST" id="register__form">
    {% csrf_token %}

    <!-- First Input -->
    <div class="form-outline mb-4">
        {{ form.first_name }}
        <label class="form-label" for="first_name">First name</label>
    </div>

    <!-- Last Input -->
    <div class="form-outline mb-4">
        {{ form.last_name }}
        <label class="form-label" for="last_name">Last name</label>
    </div>

    <!-- Email Input -->
    <div class="form-outline mb-4">
        {{ form.email }}
        <label class="form-label" for="email_address">Email address</label>
    </div>

    <!-- Username Input -->
    <div class="form-outline mb-4">
        {{ form.username }}
        <label class="form-label" for="username">Username</label>
    </div>

    <!-- Password Input -->
    <div class="form-outline mb-4">
        {{ form.password1 }}
        <label class="form-label" for="password">Password</label>
    </div>

    <!-- Password Input -->
    <div class="form-outline mb-4">
        {{ form.password2 }}
        <label class="form-label" for="password">Confirm Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

</form>
{% endblock auth_form %}